.h5peditor-game-sounds-select-wrapper {
  display: inline-block;
  position: relative;

  .h5peditor-game-sounds-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: var(--color-h5p-editor-white);
    border: 1px solid var(--color-h5p-editor-border);
    box-shadow: inset 0px 0px 5px hsla(0, 0%, 0%, 0.12);
    color: var(--color-h5p-editor-select-text);
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    height: var(--flex-size);
    outline-color: revert;
    outline-style: revert;
    outline-width: revert;
    padding-block: .625rem;
    padding-inline: .5rem 1.875rem;
  }

  &::after {
    content: var(--icon-select-angle);
    font-family: "H5PFontAwesome4", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1;
    position: absolute;
    pointer-events: none;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    user-select: none;
  }
}
